<% layout("/layouts/boilerplate") -%>

<body>
    <h3>All Listings</h3>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-xs-2 ">
     <%for(let listing of alllisting ){ %>
    <div class="card col " style="width: 10rem;">
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="..." style="height: 13rem;">
        <div class="card-img-overlay">
          <p class="card-title"><b><%= listing.title %></b></p>
        </div>
      <div class="card-body">
      <p class="card-title"><b><%= listing.title %></b></p>
      <p class="card-price" > &#x20b9; <%= listing.price.toLocaleString("en-IN") %> / night</p>
      <!-- <p class="card-text"><%= listing.description %></p> -->
    </div>
    </a>
</div>
<%}%>

</div>
</body>
