<% layout("/layouts/boilerplate") -%>

<body>
     <div class="wholecard p-3 offset-2" style="width: 18rem;">
  <img src="<%= onelisting.image.url %>" class="card-img-top" alt="listingimg">
  <div class="card-body">
    <h5 class="card-title mt-3"><%= onelisting.title %></h5>
    <p class="card-text"><%= onelisting.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price : &#x20b9; <%= onelisting.price.toLocaleString("en-IN") %></li>
    <li class="list-group-item">Location : <%= onelisting.location %></li>
    <li class="list-group-item">Country : <%= onelisting.country %></li>
  </ul>
  <div class="buttons row mt-4">
    <div class="col-3">
  <form method="get" action="/listings/<%= onelisting._id %>/edit">
        <button class="btn btn-danger">Edit </button>
       </form>
       </div>

       <div class="col-8">
    <form method="post" action="/listings/<%= onelisting._id %>?_method=Delete">
        <button class="btn btn-danger">Delete </button>
       </form>   
       </div>
</div>
</div>
      
</body>