<% layout("/layouts/boilerplate") -%>

<body>
     <div class="wholecard p-3 offset-2" style="width: 18rem;">
  <img src="<%= onelisting.image.url %>" class="card-img-top" alt="listingimg">
  <div class="card-body">
    <h5 class="card-title mt-3"><%= onelisting.title %></h5>
    <p class="card-text"><%= onelisting.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price : &#x20b9; <%= onelisting.price.toLocaleString("en-IN") %></li>
    <li class="list-group-item">Location : <%= onelisting.location %></li>
    <li class="list-group-item">Country : <%= onelisting.country %></li>
  </ul>
  <div class="buttons row mt-4">
    <div class="col-3">
  <form method="get" action="/listings/<%= onelisting._id %>/edit">
        <button class=" edit btn btn-danger">Edit </button>
       </form>
       </div>

       <div class="col-8">
    <form method="post" action="/listings/<%= onelisting._id %>?_method=Delete">
        <button class="btn btn-danger">Delete </button>
       </form>
       
       <br>
       
       </div>
   </div>
 </div >
       <div class="col-8 offset-3 mb-3">
        <hr>
         <h5>Leave A Review</h5>
        <form action="/listings/<%= onelisting._id %>/reviews" method="POST" novalidate class="needs-validation">
          <div>
            <label for="rating" class="form-label">Rating : </label><br>
            <input type="range" min="1" max="5" step="1" id="rating" name="review[rating]" class="form-range">
            <output for="range4" id="rangeValue" aria-hidden="true"></output>
          </div>
          <div >
            <label for="comment" class="form-label"></label>
            <textarea name="review[comment]" id="comment" cols="30" rows="10" class="form-control"></textarea>
            <div class="invaild-feedback">Please submit some comments for review</div>
          </div>
          <button class="btn btn-outline-dark mt-4">Submit</button>
        </form>

        <hr>

        <p><b>All Reviews</b></p>
        <div class="row">
        <div class="card col-5" style="width: 18rem;">
           <div class="card-body">
            <div class="card-title">
            <% for(let review of onelisting.reviews) { %>
              <p>Rating : <b><%= review.rating %> Stars</b></p>
              <p>Comment : <i><%= review.comment %></i></p>
              <form method="post" action="/listings/<%= onelisting._id %>/reviews/<%= review._id %>?_method=DELETE" >
                <button class="btn btn-danger btn-sm">delete</button>
              </form>
              <hr>
            <% } %>
            </div>
           </div>
        </div>
        </div>
       </div>
      
    
</body>